html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

canvas {
  width: 100%;
  height: 85vh;
  display: block;
}

.navbar {
  background-color: #333;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15vh;
  z-index: 10;
}

.navbar .button-image {
  display: inline-block;
  text-align: center;
  padding: 1em 0.5em;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.clicked {
  border: 2px solid #00ffff;
  border-radius: 8px;
}

